// Styles for the Fun Tools page

.fun-tools-container {
    
}

.fun-tools-gallery {
  column-count: 1;
  column-gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;

  @media (min-width: 600px) {
    column-count: 2;
  }
  @media (min-width: 900px) {
    column-count: 3;
  }
  @media (min-width: 1200px) {
    column-count: 4;
  }
}

.my-masonry-grid {
  margin: 0 auto;
  width: 100vw;
  max-width: 370px; /* 1 column by default */
}
.my-masonry-grid_column {
  padding-left: 2rem;
  background-clip: padding-box;
}
.fun-tools-widget {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  max-width: 350px;
}

@media (min-width: 600px) {
  .my-masonry-grid {
    max-width: 732px; /* 2 columns: (2*350)+(1*32) */
  }
}
@media (min-width: 900px) {
  .my-masonry-grid {
    max-width: 1114px; /* 3 columns: (3*350)+(2*32) */
  }
}
@media (min-width: 1200px) {
  .my-masonry-grid {
    max-width: 1496px; /* 4 columns: (4*350)+(3*32) */
  }
} 