@import "../../variables.scss";

#cardSets {
    display: block;
    width: auto;
    margin: 10px auto;
}

#invertCheckboxContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    label {
        padding-right: 10px;
    }
}

.flashcardsCard {
    cursor: pointer;
    background-color: $white;
    padding: 25px 5px;
    text-align: center;
    border: solid $black 2px;
    border-radius: 10px;

    margin: 10px auto;
}

.flashcardsCardFront, .flashcardsCardBack {
    display: none;
}

.flashcardsCardFront.active, .flashcardsCardBack.active {
    display: block;
}

.flashcardsCardFront {
    font-weight: bold;
}

.prevNextButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}