#snakeGameArea{
    width: calc(15px * 15);
    margin: 0 auto;

    border: solid black 2px;
    .snakeRow {
        display: flex;
        .snakeGameCell {
            width: 15px;
            height: 15px;
            line-height: 15px;

            box-sizing: border-box;

            // border: solid black 1px;
        }
        .activeSnakeHead {
            background-color: darkGreen;
        }
        .activeSnakeBody {
            background-color: green;
        }
        .activeSnakeTail {
            background-color: rgb(72, 180, 72);
        }
        .activeFood {
            background-color: blue;
        }
    }
}