#conversionsForm {
    #randomColorBtn {
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        top: 23px;
        right: 15px;
        background-image: url(../../../../public/colorConvertorAssets/randomColor.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    #colorSwatchContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    
    #currentColorSwatch {
        width: 100px;
        height: 60px;
        border: 2px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .tripleInputContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2px 0;
    }
    .tripleInputLabel {
        min-width: 2.5em;
        text-align: left;
        font-size: $smallerText;
        font-weight: 600;
    }
    .tripleInput {
        width: 3.5em;
        max-width: 3.5em;
        min-width: 2.5em;
        display: block;
        box-sizing: border-box;
    }
    #hexInputGroup > span {
        display: inline-flex;
        align-items: center;
    }
    .hexInput {
        width: 6.5em;
        margin-left: 0.2em;
        box-sizing: border-box;
    }
    
    .colorRGB {
        font-size: 0.9em;
    }

    #closestNamedColor {
        width: 100%;
        text-align: center;
        border-radius: 5px;
        margin-top: 0;
    }
    #closestNamedColorTitle {
        text-align: center;
        font-size: 0.8em;
        margin-bottom: 0;
    }


}