$toolcard-width: 300px;
$toolcard-gutter: 32px;

.masonry-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: calc(#{$toolcard-width} * 4 + #{$toolcard-gutter} * 3);
  display: flex;
  justify-content: center;
}

.my-masonry-grid_column {
  background-clip: padding-box;
  margin: 0 20px;
}

.widgets-widget {
  width: $toolcard-width;
}

.widgets-widget > * {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

