.widgetsContainer {
  // Default to one column wide
  max-width: calc(#{$toolCardWidth} * 1 + #{$toolCardGutter} * 0);

  columns: $toolCardWidth;
  column-gap: $toolCardGutter;
  column-rule-width: 0;

  margin: 0 auto;

  .widget {
    display: block;
    margin: 0 auto calc($toolCardGutter / 2);
    padding: 0;
    width: 100%;
    max-width: $toolCardWidth;
    break-inside: avoid-column;

    // Allows items to be positions with respect to the widget
    position: relative;

    // Border styling
    border: 3px solid;
    border-left-color: $lightGray;
    border-top-color: $lightGray;
    border-right-color: $black;
    border-bottom-color: $black;

    background: $darkGray;

    .orderControlBtns {
      position: absolute;
      top: 5px;
      right: 5px;
      
      z-index: 1;

      filter: invert(100%);
      #upBtn:hover, #downBtn:hover {
        cursor: pointer;
      }
      #upBtn, #downBtn {
        border-radius: 50%;
        height: 22px;
      }
      #upBtn {
        rotate: -90deg;
      }
      #downBtn {
        rotate: 90deg;
      }
    }
  }
}

// Media query and rule for two columns
@media (min-width: calc((#{$toolCardWidth} + #{$toolCardGutter}) * 2 + #{$toolCardGutter} * 2)) {
  .widgetsContainer {
    max-width: calc(#{$toolCardWidth} * 2 + #{$toolCardGutter} * 1);
  }
}

// Media query and rule for three columns
@media (min-width: calc((#{$toolCardWidth} + #{$toolCardGutter}) * 3 + #{$toolCardGutter} * 2)) {
  .widgetsContainer {
    max-width: calc(#{$toolCardWidth} * 3 + #{$toolCardGutter} * 2);
  }
}

// Media query and rule for four (max) columns
@media (min-width: calc((#{$toolCardWidth} + #{$toolCardGutter}) * 4 + #{$toolCardGutter} * 2)) {
  .widgetsContainer {
    max-width: calc(#{$toolCardWidth} * 4 + #{$toolCardGutter} * 3);
  }
}