$toolcardWidth: 300px;
$toolcardGutter: 32px;

.masonry-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: calc(#{$toolcardWidth} * 4 + #{$toolcardGutter} * 3);
  display: flex;
  justify-content: center;
}

.my-masonry-grid_column {
  background-clip: padding-box;
  margin: 0 20px;
}

.widgets-widget {
  width: $toolcardWidth;
}

.widgets-widget > * {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

