.widgetsContainer {
  // Default to one column wide
  max-width: calc(#{$toolCardWidth} * 1 + #{$toolCardGutter} * 0);

  columns: $toolCardWidth;
  column-gap: $toolCardGutter;
  column-rule-width: 0;

  margin: 0 auto;

  .widget {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: $toolCardWidth;
    break-inside: avoid-column;

    // Allows items to be positions with respect to the widget (Im looking at you color convertor shuffle)
    position: relative;
  }
}



// Media query and rule for two columns
@media (min-width: calc((#{$toolCardWidth} + #{$toolCardGutter}) * 2 + #{$toolCardGutter} * 2)) {
  .widgetsContainer {
    max-width: calc(#{$toolCardWidth} * 2 + #{$toolCardGutter} * 1);
  }
}

// Media query and rule for three columns
@media (min-width: calc((#{$toolCardWidth} + #{$toolCardGutter}) * 3 + #{$toolCardGutter} * 2)) {
  .widgetsContainer {
    max-width: calc(#{$toolCardWidth} * 3 + #{$toolCardGutter} * 2);
  }
}

// Media query and rule for four (max) columns
@media (min-width: calc((#{$toolCardWidth} + #{$toolCardGutter}) * 4 + #{$toolCardGutter} * 2)) {
  .widgetsContainer {
    max-width: calc(#{$toolCardWidth} * 4 + #{$toolCardGutter} * 3);
  }
}