$toolCardWidth: 300px;
$toolCardGutter: 32px;

// .widgets-container {
//   margin: 0 auto;
//   padding: 0 20px;
//   max-width: calc(#{$toolCardWidth} * 4 + #{$toolCardGutter} * 3);
//   display: flex;
//   gap: 32px;
//   justify-content: center;
// }

// .widgets-widget {
//   width: $toolCardWidth;
//   display: block;
// }

// .widgets-widget > * {
//   margin-left: auto;
//   margin-right: auto;
//   display: block;
//   max-width: 100%;
// }

.widgetsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $toolCardGutter;

  max-width: calc(#{$toolCardWidth} * 4 + #{$toolCardGutter} * 3);
  margin: 0 auto;
  justify-content: center;

  .widget {
    display: block;
    width: $toolCardWidth;
    min-width: $toolCardWidth;
    position: relative;
  }
}