$toolcardWidth: 300px;
$toolcardGutter: 32px;

.widgets-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: calc(#{$toolcardWidth} * 4 + #{$toolcardGutter} * 3);
  display: flex;
  gap: 32px;
  justify-content: center;
}

.widgets-widget {
  width: $toolcardWidth;
  display: block;
}

.widgets-widget > * {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

