$white: #fafafa;
$blueWhite: #faffff;
$black: #332b24;
$blue: #12487e;
$lightGray: #f1f1f1;
$darkGray: #d3d3d3;

$darkerBlack: #1b1d1e;
$darkerBlackOpacity: rgba(27, 29, 30, 0.75);

$toolCardGutter: 32px;
$toolCardWidth: 300px;

$smallerText: 0.78rem;