#title {
    text-align: center;
    font-weight: bold;
}

#sortBtn {
    padding: 8px 16px;
    cursor: pointer;
}

.bars-container {
    display: flex;
    align-items: flex-end;
    gap: 0;
    height: 210px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin: 20px 0;
}

.bar {
    background-color: black;
    width: 2px;
}

.sort-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
