#chessBoard {
    display: block;

    tbody{
        display: block;

        tr {
            display: block;
            width: 100%;

            td {
                position: relative;

                aspect-ratio: 1;
                width: calc((100%) / 8);
                height: auto;
                display: inline-block;
                box-sizing: border-box;
                padding: 2px;

                p {
                    box-sizing: border-box;
                    font-weight: 300;
                    background-color: transparent;
                    opacity: 0.66;

                    position: absolute;

                    width: auto;
                    height: auto;

                    line-height: 10px;
                    font-size: 10px;
                }

                .rowLabel {
                    top: 2px;
                    left: 2px;
                }

                .colLabel {
                    bottom: 2px;
                    right: 2px;
                }
            }

            @mixin pieceOutline {
                display: block;
                box-sizing: border-box;

                height: 100%;
                width: 100%;

                background-size: cover;
            }

            .piece1 {
                // pawn
                background-image: url(../../../../public/chessAssets/Pawn.svg);
            }

            .piece2 {
                // king
                background-image: url(../../../../public/chessAssets/King.svg);
            }

            .piece3 {
                // queen
                background-image: url(../../../../public/chessAssets/Queen.svg);
            }

            .piece4 {
                //bishop
                background-image: url(../../../../public/chessAssets/Bishop.svg);
            }

            .piece5 {
                //knight
                background-image: url(../../../../public/chessAssets/Knight.svg);
            }

            .piece6 {
                //rook
                background-image: url(../../../../public/chessAssets/Rook.svg);
            }

            .piece {
                @include pieceOutline();
            }

            .blackPiece {
                filter: invert(1)
            }

            .selectedPiece {
                background-color: red;
            }

            .potentialMove {
                background-color: blue;
            }

            .darkSquare {
                background-color: rgb(150, 150, 150);
            }

            .lightSquare {
                background-color: rgb(190, 190, 190);
            }
        }
    }
}