.toolCard {
  display: block;
  max-width: $toolCardWidth;

  box-sizing: border-box;

  background: $darkGray;
  border: 2px solid $black;
  border-radius: 2px;
  padding: 1rem 1.5rem;
  margin: 0 auto calc($toolCardGutter / 2);

  position: relative;
  overflow: hidden;
}

#title {
  text-align: center;
  font-weight: 600;
}