.toolCard {
  display: block;
  max-width: $toolCardWidth;

  box-sizing: border-box;

  background: #d3d3d3;
  border: 2px solid #222;
  border-radius: 2px;
  padding: 1rem 1.5rem;
  margin: 0 auto calc($toolCardGutter / 2);
}

#title {
  text-align: center;
  font-weight: 600;
}