.projectCard {
    min-width: 250px;
    max-width: 620px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 6px 12px 6px $black, 0px 6px 12px 12px inset $blueWhite;
    border-radius: 10px;

    box-sizing: border-box;

    transition: all 300ms ease;

    flex-shrink: 0;
    flex-basis: 50vw;

    h2 {
        margin: 10px auto 20px 0;
    }

    p {
        margin: 20px auto 10px 0;
    }

    img {
        display: block;
        max-width: 100%;
        max-height: 250px;
        margin: auto;
    }
}

.leftCard {
    box-shadow: -6px 6px 12px 4px $black, -6px 6px 12px 12px inset $blueWhite;
    transform: scale(0.75);
}

.rightCard {
    box-shadow: 6px 6px 12px 4px $black, 6px 6px 12px 12px inset $blueWhite;
    transform: scale(0.75);
}