#boidsContainer {
    #boidsSimulation {
        position: relative;
        display: block;
        width: 100%;
        height: 210px;
        background-color: #f5f5f5;
        border-radius: 8px;
        margin: 20px 0;

        .boid {
            position: absolute;
            width: 0; height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid black;
        }
    }
    .boidsInput {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3px;
    }
}