#boidsContainer {
    #boidsSimulation {
        position: relative;
        display: block;
        width: 100%;
        height: 210px;
        background-color: #f5f5f5;
        border-radius: 8px;
        margin: 20px 0;

        .boid {
            position: absolute;
            width: 4px; height: 4px;
            border: solid black 1px;
            border-radius: 50%;
        }
    }
    .boidsInput {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3px;
    }
}